@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-BoldItalic.eot');
    src: url('DMSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('DMSans-BoldItalic.woff2') format('woff2'),
        url('DMSans-BoldItalic.woff') format('woff'),
        url('DMSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Italic.eot');
    src: url('DMSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('DMSans-Italic.woff2') format('woff2'),
        url('DMSans-Italic.woff') format('woff'),
        url('DMSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-MediumItalic.eot');
    src: url('DMSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('DMSans-MediumItalic.woff2') format('woff2'),
        url('DMSans-MediumItalic.woff') format('woff'),
        url('DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Regular.eot');
    src: url('DMSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('DMSans-Regular.woff2') format('woff2'),
        url('DMSans-Regular.woff') format('woff'),
        url('DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Bold.eot');
    src: url('DMSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('DMSans-Bold.woff2') format('woff2'),
        url('DMSans-Bold.woff') format('woff'),
        url('DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Medium.eot');
    src: url('DMSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('DMSans-Medium.woff2') format('woff2'),
        url('DMSans-Medium.woff') format('woff'),
        url('DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

