.search-container {
  margin-top: 10px;
  input {
    margin-right: 10px;
  }

  .legend {
    font-weight: 600;
  }

  .input-container {
    display: flex;
    width: 100%;
  }

  button {
    display: flex;
    align-items: center;
  }

  svg {
    margin-left: 2px;
    &:hover {
      color: white;
    }
  }
}
