.job-card {
  display: flex;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  position: relative;
  background: white;
  margin: 25px 0;

  &.featured {
    background-color: #fff4d3;
    border: 1px solid #ffe7a0;
  }

  &:hover {
    background: #eef0f1;
  }

  .badge {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #f75679;
    color: white;
    padding: 3px 5px;
    font-size: 14px;
    border-radius: 5px;
  }

  .logo {
    margin: 45px 15px;
    img {
      width: 50px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    &__type {
      padding: 5px;
      background: #ffc10780;
      align-self: flex-end;
      border-radius: 0 4px 0 5px;
      font-weight: 600;
      margin-top: -1px;
    }

    &__meta {
      display: flex;

      p {
        margin: 0;
      }

      strong {
        padding: 0 3px;
      }
    }
  }
}
