a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.job-description {
  ul {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 40px !important;
  }
}
